body {
    font-family: "Open_Sans", sans-serif;
}

a:link {
    color: aliceblue;
    text-decoration: none;
}
a:visited{
    color: rgb(128, 133, 138);
    text-decoration: none;
}
a:hover{
    color: aliceblue;
    text-decoration: none;
}

#menu_container {
    padding-bottom: 55px;
    padding-top: -45px;
    margin-top: -35px;
    margin-bottom: -90px;
}

@media only screen and (max-device-width : 767px) {
    #menu_container {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.logo_rt {
    transform: rotate(-17deg);
    filter:drop-shadow(6px 8px 10px #000)
}


.wraper {
    overflow: hidden;
    position: relative;
}

.bg {
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
    background: url('../../asset/img/bg3.jpg') no-repeat center center;
}

.content {
    position: relative;
}

.shd {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.mnb {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #440320e1;
    color: aliceblue;
    margin:1rem;
}
h5 {
    color: aliceblue;
}

.card {
    background-color: #440320e1;
}

.imgof {
    overflow: hidden;
}

.card-img-bottom:hover {
    width: 100%;
    transition: transform 2s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.card-img-bottom {
    width: 100%;
    transition: transform 0.5s;
    -ms-transform: scale(1.00);
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
}

.card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.text-justify {
    text-align:justify !important;
}


.align-items-center {
    display: flex; 
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
  }