body {font-family: "Open_Sans", sans-serif;background-image: url("/asset/img/bg3.jpg");background-repeat: no-repeat;background-size: cover;}
nav, footer {background-color: #970748d8;}
.shd {box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);}